.DS_Store
/storage/app/public/posts/image/*
/storage/app/public/posts/video/*
/storage/app/public/posts/carousel/*
!/storage/app/public/posts/image/.gitkeep
!/storage/app/public/posts/video/.gitkeep
!/storage/app/public/posts/carousel/.gitkeep

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
